html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 85%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 3.7rem;
    width: 3.7rem;
    margin: 0.2rem 0.2rem;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.wrong {
    background: #ff0000;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin: 0 0 10px 90px;
}

.score-panel .stars {
    margin-left: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: 80px;
}

.timer {
  margin-left: 10px;
}


/*Media queries*/

/*For iPad and large screens*/
@media screen and (min-width: 768px) {

  .deck {
      width: 660px;
      min-height: 680px;
      padding: 32px;
      border-radius: 10px;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  }

  .deck .card {
      height: 125px;
      width: 125px;
      border-radius: 8px;
      box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }

  .score-panel {
    margin: 0 0 10px 0;
  }

  .score-panel .restart {
    margin-right: 0;
  }

  .timer {
    margin-left: 30px;
  }

}
